{% extends "base.html" %}
{% block title %}
<title>BANKBOA -  Automatic bank account analysis</title>
{% endblock %}
{% block project_version %}BANKVBOA 1.0.0{% endblock %}
{% block project_header %}
{% endblock %}
{% block side_panel_plugins %}
<li>
  <a href="#"><i class="fa fa-file-text-o fa-fw"></i> BANKBOA analysis<span class="fa arrow"></span></a>
  <ul class="nav nav-second-level">
    <li>
      <a href="/views/transactions-analysis"><i class="fa fa-calendar"></i> Transactions analysis view</a>
    </li>
  </ul>
  <!-- /.nav-second-level -->
</li>
{% endblock %}
